.the-good-stuff-page .good-stuff-hero {
  height: 60vh;
}

.the-good-stuff-page .good-stuff-hero-sticky {
  height: 60vh;
  position: relative;
}

.the-good-stuff-page .section::after {
  left: 0;
  right: 0;
}

.the-good-stuff-page .good-stuff-blank {
  min-height: 100vh;
}
